<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chat </title>

    <script defer src="http://localhost:5500/socket.io/socket.io.js"></script>
    <script defer src="../js/client.js"></script>

    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="my">
        <nav>
            <img class="logo" src="../images/chat.png" />
            <h1>Welcome To My-Chat App</h1>
        </nav>

        <div class="container">

            <!-- <div class="message left">Welcome to</div>
            <div class="message right">My Chat</div> -->
        </div>

        <div class="send">
            <form action="#" class="send-msg">

                
                    <input type="text" name="messageImp" id="messageImp" placeholder="Enter your text" />
                    <button class="btn" type="submit"> <img class="arrow" src="../images/arrow.png" /> </button>
                


            </form>
        </div>
    </div>

</body>

</html>